.idea/

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/client/node_modules
/client/dist
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/backend/node_modules
/backend/dist
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
